
body {
    width: 100%;
}
.logo1 {
    width: 30%;
    position: relative;
    top: 20px;
    left: 100px;
    margin-bottom: 10px;
    
}
.logo2 {
    width: 30%;
    position: absolute;
    top: 40px;
    left: 100px;
    margin-bottom: 10px;
    z-index: -1;
    opacity: .5;
}
body {
    margin: 10px;
    padding: 10px;
}
.target {
    position: absolute;
    right: 105px;
    z-index: -2;
    top: 310px;
    width: 100px;
    opacity: 0.5;
}
.anim {
    width: 100px;
    position: absolute;
    transform: rotate(-90deg);
    animation: arrow  2s ease 1s infinite normal;
}
@keyframes arrow {
    0% {left: 1%;}
    100% {left: 80%;}
}
.mark {
    position: absolute;
    top: 320px;
    left: 50%;
    transition: all 0.3s ease-in 2s;
    opacity: 0;
    z-index: -1;
}
body:hover .mark {
    transform: scale(9);
    opacity: 0.3;

}
footer {
   padding: 10px;
   background-color: lightgrey;
    
}
footer > div > h2 {
    text-align: center;
    clear: both;
}
footer div  i{
    margin-top: 10px;
    margin-left: 2px;
    padding: 2px;
    position: static;
}
footer div i:hover {
    background-color: rgba(163, 143, 143, 0.623);
}
footer a {
    text-decoration: none;
}
.flex {
  display: flex;
   
}
footer div i:hover iframe {
    display:block;
    position: absolute;
}
iframe {
    display: none;
    width: fit-content;
    height: auto;
    border: 1px dotted burlywood;
    background-color: rgba(0, 255, 0, 0.144);
}